<nav class="bottom-nav">

  <!-- ================= PATIENT NAV ================= -->
  @if(!isDoctor) {

    <a
      routerLink="/home"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      class="bottom-nav-item"
    >
      <div class="nav-icon-wrap">
        <i class="fa-solid fa-house"></i>
      </div>

      <span>Home</span>
    </a>

    <a
      routerLink="/appointments"
      routerLinkActive="active"
      class="bottom-nav-item"
    >
      <div class="nav-icon-wrap">
        <i class="fa-solid fa-calendar"></i>
      </div>

      <span>Appointments</span>
    </a>

    <a
      routerLink="/doctors"
      routerLinkActive="active"
      class="bottom-nav-item"
    >
      <div class="nav-icon-wrap">
        <i class="fa-solid fa-magnifying-glass"></i>
      </div>

      <span>Doctors</span>
    </a>

    <a
      routerLink="/profile"
      routerLinkActive="active"
      class="bottom-nav-item"
    >
      <div class="nav-icon-wrap">
        <i class="fa-solid fa-user"></i>
      </div>

      <span>Profile</span>
    </a>

  }

  <!-- ================= DOCTOR NAV ================= -->
  @else {

    <a
      routerLink="/doctor/dashboard"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      class="bottom-nav-item"
    >
      <div class="nav-icon-wrap">
        <i class="fa-solid fa-chart-line"></i>
      </div>

      <span>Dashboard</span>
    </a>

    <a
      routerLink="/doctor/appointments"
      routerLinkActive="active"
      class="bottom-nav-item"
    >
      <div class="nav-icon-wrap">
        <i class="fa-solid fa-calendar-check"></i>
      </div>

      <span>Appointments</span>
    </a>

    <a
      routerLink="/doctor/patients"
      routerLinkActive="active"
      class="bottom-nav-item"
    >
      <div class="nav-icon-wrap">
        <i class="fa-solid fa-users"></i>
      </div>

      <span>Patients</span>
    </a>

    <a
      routerLink="/doctor/profile"
      routerLinkActive="active"
      class="bottom-nav-item"
    >
      <div class="nav-icon-wrap">
        <i class="fa-solid fa-user-doctor"></i>
      </div>

      <span>Profile</span>
    </a>

  }

</nav>