<div class="signup-page">



  <!-- Left Panel (same as login) -->
  <div class="signup-left">
    <div class="signup-brand">
      <div class="brand-icon">
        <i class="fa-solid fa-plus"></i>
      </div>
      <span class="brand-name">MedFlow</span>
    </div>

    <div class="signup-hero mt-5">
      <h1 class="hero-title">Join MedFlow<br>Today.</h1>
      <p class="hero-sub">
        Create your account and start managing your health the smart way.
      </p>
    </div>
  </div>

  <!-- Right Panel -->
  <div class="signup-right">
      <!-- ALERT GOES HERE -->
    <app-alert
        [visible]="alertVisible"
        [message]="alertMessage"
        [type]="alertType"
        (close)="alertVisible = false">
    </app-alert>

    <div class="signup-card">

      <div class="card-icon">
        <div class="icon-wrap">
          <i class="fa-solid fa-user-plus"></i>
        </div>
      </div>

      <h2 class="card-title">Create Account</h2>
      <p class="card-sub">Start your journey with MedFlow</p>

      <!-- Step 1: Basic Info -->
      <ng-container *ngIf="step === 1">
        <div class="form-group">
          <label class="form-label">FULL NAME</label>
          <input type="text" class="form-input" [(ngModel)]="step1.name" placeholder="Your full name" />
        </div>

        <div class="form-group">
          <label class="form-label">EMAIL ADDRESS</label>
          <input type="email" class="form-input" [(ngModel)]="step1.email" placeholder="name@example.com" />
        </div>

        <div class="form-group">
          <label class="form-label">ACCOUNT TYPE</label>
          <select class="form-input" [(ngModel)]="step1.role">
            <option value="patient">Patient</option>
            <option value="doctor">Doctor</option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-label">PASSWORD</label>
          <div class="input-wrap">
            <input [type]="showPassword ? 'text' : 'password'" class="form-input" [(ngModel)]="step1.password" placeholder="••••••••" />
            <button class="toggle-pw" (click)="togglePassword()"><i class="fa-solid" [ngClass]="showPassword ? 'fa-eye-slash' : 'fa-eye'"></i></button>
          </div>
        </div>

        <div class="form-group">
          <label class="form-label">CONFIRM PASSWORD</label>
          <div class="input-wrap">
            <input [type]="showConfirmPassword ? 'text' : 'password'" class="form-input" [(ngModel)]="step1.confirmPassword" placeholder="••••••••" />
            <button class="toggle-pw" (click)="toggleConfirmPassword()"><i class="fa-solid" [ngClass]="showConfirmPassword ? 'fa-eye-slash' : 'fa-eye'"></i></button>
          </div>
        </div>

        <div style="display:flex; gap:8px;">
          <button class="btn-primary signup-btn" (click)="onNextStep()">Next</button>
          <button class="btn-secondary" routerLink="/login">Cancel</button>
        </div>
      </ng-container>

      <!-- Step 2: Role-specific -->
      <ng-container *ngIf="step === 2">

        <!-- Patient form -->
        <div *ngIf="step1.role === 'patient'">
          <div class="form-group">
            <label class="form-label">PHONE</label>
            <input class="form-input" [(ngModel)]="patientForm.phone" placeholder="phone number" />
          </div>
          <div class="form-group">
            <label class="form-label">LOCATION</label>
            <input class="form-input" [(ngModel)]="patientForm.location" placeholder="Address"/>
          </div>
          <div class="form-group">
            <label class="form-label">AGE</label>
            <input type="number" class="form-input" [(ngModel)]="patientForm.age" placeholder="Age"/>
          </div>
          <div class="form-group">
            <label class="form-label">BLOOD TYPE</label>
            <input class="form-input" [(ngModel)]="patientForm.blood" placeholder="O+" />
          </div>
          <div class="form-group">
            <label class="form-label">GENDER</label>
            <select class="form-input" [(ngModel)]="patientForm.gender">
              <option value="">Select</option>
              <option value="M">M</option>
              <option value="F">F</option>
            </select>
          </div>
          <div class="form-group">
            <label class="form-label">CHOOSE AVATAR</label>

            <div class="avatar-options d-flex gap-16 flex-wrap justify-content-center">

              <div
                class="avatar-card"
                [class.active]="patientForm.avatar === '../../../assets/avatars/boy.png'"
                (click)="selectPatientAvatar('../../../assets/avatars/boy.png')">

                <img src="../../../assets/avatars/boy.png" alt="Boy Avatar">
                <span class="fw-bold">Boy</span>
              </div>

              <div
                class="avatar-card "
                [class.active]="patientForm.avatar === '../../../assets/avatars/girl.png'"
                (click)="selectPatientAvatar('../../../assets/avatars/girl.png')">

                <img src="../../../assets/avatars/girl.png" alt="Girl Avatar">
                <p class="fw-bold">Girl</p>
              </div>

            </div>
          </div>
          <div style="display:flex; gap:8px;">
            <button class="btn-primary signup-btn" (click)="submitStep2()">Create Account</button>
            <button class="btn-secondary" (click)="onBackToStep1()">Back</button>
          </div>
        </div>

        <!-- Doctor form -->
        <div *ngIf="step1.role === 'doctor'">
          <div class="form-group">
            <label class="form-label">MAIN SPECIALTY</label>
            <input class="form-input" [(ngModel)]="doctorForm.specialty" placeholder="e.g. Cardiology, Dermatology"/>
          </div>
          <div class="form-group">
            <label class="form-label">EXPERIENCE (years)</label>
            <input type="number" class="form-input" [(ngModel)]="doctorForm.experience" placeholder="Years of experience" />
          </div>
          <div class="form-group">
            <label class="form-label">CONSULTATION FEE</label>
            <input type="number" class="form-input" [(ngModel)]="doctorForm.consultationFee" placeholder="Fee per session" />
          </div>
          <div class="form-group">
            <label class="form-label">BIO</label>
            <textarea class="form-input" [(ngModel)]="doctorForm.bio" placeholder="Write a short professional summary about yourself..."></textarea>
          </div>
          <div class="form-group">
            <label class="form-label">ONLINE</label>
            <input type="checkbox" [(ngModel)]="doctorForm.isOnline" /> Available for online consults
          </div>

          <div class="form-group">
            <label class="form-label">ADDITIONAL SPECIALTIES</label>
            <div style="display:flex; gap:8px;">
              <input class="form-input" [(ngModel)]="doctorForm.tagInput" placeholder="Type and press Add" />
              <button class="btn-secondary" (click)="addSpecialtyTag()">Add</button>
            </div>
            <div class="tag-list">
              <span class="tag" *ngFor="let t of doctorForm.specialtyTags; let i = index">{{t}} <button (click)="removeSpecialtyTag(i)">x</button></span>
            </div>
          </div>

          <div class="form-group">
            <label class="form-label">WORKING HOURS</label>
            <div *ngFor="let wh of doctorForm.workingHours; let i = index" style="display:flex; gap:8px; margin-bottom:8px;">
              <input placeholder="Days" class="form-input" [(ngModel)]="wh.days" />
              <input placeholder="Hours" class="form-input" [(ngModel)]="wh.hours" />
              <button class="btn-secondary" (click)="removeWorkingHour(i)">Remove</button>
            </div>
            <button class="btn-secondary" (click)="addWorkingHour()">Add Row</button>
          </div>

          <div class="form-group">
            <label class="form-label">CHOOSE AVATAR</label>

            <div class="avatar-options d-flex gap-16 flex-wrap justify-content-center">

              <div
                class="avatar-card"
                [class.active]="doctorForm.avatar === '../../../assets/avatars/doctor-boy.png'"
                (click)="selectDoctorAvatar('../../../assets/avatars/doctor-boy.png')">

                <img src="../../../assets/avatars/doctor-boy.png" alt="Boy Avatar">
                <span class="fw-bold">Boy</span>
              </div>

              <div
                class="avatar-card "
                [class.active]="doctorForm.avatar === '../../../assets/avatars/doctor-girl.png'"
                (click)="selectDoctorAvatar('../../../assets/avatars/doctor-girl.png')">

                <img src="../../../assets/avatars/doctor-girl.png" alt="Girl Avatar">
                <p class="fw-bold">Girl</p>
              </div>

            </div>
          </div>

          <div style="display:flex; gap:8px;">
            <button class="btn-primary signup-btn" (click)="submitStep2()">Create Account</button>
            <button class="btn-secondary" (click)="onBackToStep1()">Back</button>
          </div>
        </div>
      </ng-container>

      <!-- Divider -->
      <div class="divider">
        <span class="divider-line"></span>
        <span class="divider-text">OR</span>
        <span class="divider-line"></span>
      </div>

      <!-- Google -->
      <button class="btn-google">
        <i class="fa-brands fa-google"></i>
        Continue with Google
      </button>

      <!-- Login redirect -->
      <p class="login-prompt">
        Already have an account?
        <button class="link-btn" routerLink="/login">Sign in</button>
      </p>

    </div>
  </div>
</div>